@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* body {
		transition: background-color 0.5s ease;
	} */

	.prose code {
		@apply text-base;
	}

	/* prose styles here */
	.prose h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-zinc-800 dark:text-zinc-100   !important;
	}

	html.dark .shiki,
	html.dark .shiki span {
		color: var(--shiki-dark) !important;
		background-color: theme(colors.gray.900) !important;
	}
}

.glass {
	background: rgba(57, 56, 56, 0.52);
	backdrop-filter: blur(13px) saturate(150%);
	-webkit-backdrop-filter: blur(13px) saturate(150%);
	z-index: -1;
}

.shadow {
	box-shadow: -5px 3px 8px 1px rgba(0, 0, 0, 0.12);
}

.card {
	div {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		text-shadow: 1px 1px 5px #fff;
	}
	* {
		position: relative;
	}
	.container .insidecolumn {
		border: solid 1px #ccc;
		-webkit-border-radius: 10px 2px 10px 2px;
		-moz-border-radius: 10px 2px 10px 2px;
		border-radius: 10px 2px 10px 2px;
		background: rgb(255, 255, 255);
		background: rgba(255, 255, 255, 0.2);
		padding: 10px 15px;
		-webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
		-moz-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
		box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	}
	@media only screen and (max-width: 479px) {
		.container .insidecolumn {
			padding-top: 10px;
		}
	}
}
.card {
	border: solid 1px #ccc;
	border-radius: 10px;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.2);
	padding: 10px 15px;
	box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	position: relative;
}

html {
	font-family: 'Goudy Bookletter 1911', Georgia, Times, serif !important;
}

.main-content-shadow {
	display: block;
	width: 100%;
	height: 50px;
	border-top: 1px solid #f8f7f5;
	background: linear-gradient(180deg, rgba(165, 157, 139, 0.3) 0%, rgba(165, 157, 139, 0) 100%);
	position: absolute;
	top: 0;
	left: 0;
}
.card code {
	text-shadow: none;
}
@import './prism.css';

#body, html, body {
    font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
    font-size: 19px;
    line-height: 31px;
}

/*! CSS Used from: https://gregbenner-classic-2009.netlify.app/stylesheets/mini.min.crush.css */
span,a{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;text-shadow:1px 1px 5px #FFF;}
a,a:visited{color:#444;text-decoration:none;outline:0;}
a:hover,a:focus{color:#555;}
[class^="icon-"]:before{font-family:'gregasaurus';font-style:normal;speak:none;}
.icon-arrow-up:before{content:"\0043";}
*{position:relative;}
.tothetop{z-index:2;right:10px;top:5px;position:absolute;color:#847E70;opacity:.1;zoom:1;-ms-filter:"alpha(opacity=10)";*filter:alpha(opacity=10);}
.tothetop:hover{color:#847E70;opacity:.9;zoom:1;-ms-filter:"alpha(opacity=90)";*filter:alpha(opacity=90);}
/*! CSS Used fontfaces */
@font-face{font-family:'gregasaurus';src:url('https://gregbenner-classic-2009.netlify.app/fonts/gregasaurus.eot');src:url('https://gregbenner-classic-2009.netlify.app/fonts/gregasaurus.eot#iefix') format('embedded-opentype'),url('https://gregbenner-classic-2009.netlify.app/fonts/gregasaurus.svg') format('svg'),url('https://gregbenner-classic-2009.netlify.app/fonts/gregasaurus.woff') format('woff'),url('https://gregbenner-classic-2009.netlify.app/fonts/gregasaurus.ttf') format('truetype');font-weight:normal;font-style:normal;}
