---
import BaseLayout from "@/layouts/BaseLayout";
---

<BaseLayout title='Contact'>
	<div class='insidecolumn'>
		<a href='#top' class='tothetop'><span aria-hidden='true' class='icon-arrow-up'></span></a>
		<h2>
			Contact
			<span aria-hidden='true' class='icon-really-old-telephone'></span>
		</h2>
		<p>
			Want to say hi, Need a quote?<br />
			 Let's be friends.
		</p>
		<ul class='left alpha'>
			<li>
				<a href='mailto:info@gregbenner.ca'
					><span aria-hidden='true' class='icon-mail'> </span>Email</a
				>
			</li>
			<li>
				<a href='https://twitter.com/#!/gregbenner'
					><span aria-hidden='true' class='icon-twitter'></span>
					 Twitter</a
				>
			</li>
			<li>
				<a href='http://forrst.com/people/gregbenner'
					><span aria-hidden='true' class='icon-forrst'></span>
					 Forrst</a
				>
			</li>
			<li>
				<a href='https://github.com/gregbenner'
					><span aria-hidden='true' class='icon-github'></span>
					 Github</a
				>
			</li>
		</ul>
		<ul class='right omega'>
			<li>
				<a href='http://za.linkedin.com/in/gregbenner'
					><span aria-hidden='true' class='icon-linkedin'></span>
					 LinkedIn</a
				>
			</li>
			<li>
				<a href='https://plus.google.com/u/0/104122402719881738205/'
					><span aria-hidden='true' class='icon-google-plus'></span>
					 Google Plus</a
				>
			</li>
			<li>
				<a href='https://www.facebook.com/pages/Gregory-Nathan-Benner/22949374395'
					><span aria-hidden='true' class='icon-facebook'></span>
					 Facebook</a
				>
			</li>
			<li><g:plusone size='medium' annotation='none'></g:plusone></li>
		</ul>
		<br class='clear' />
	</div>
</BaseLayout>
