---
import BaseLayout from '@/layouts/BaseLayout'
// import 'https://jswhisperer.uk/js/head.min.js'
---

<BaseLayout title='Copyright'>
	<div class='insidecolumn'>
		<div class='top tothetop small-mobile-hide'>
			<span aria-hidden='true' class='icon-arrow-up'></span>
		</div>
		<h2>Copyrights <span aria-hidden='true' class='icon-tophat'></span></h2>
		<p>
			All rights are reserved on everything on this website. No material may be mirrored or copied
			without my express permission. Copyrights belong to myself and/or to the prospective owner's
			of displaid works. ©2012 Greg Benner
		</p>
		<p>
			Icons used on this site are from <a href='http://thenounproject.com/' target='_blank'
				>The Noun Project collection</a
			> They may not be redistributed in any way shape or form. They belong to their respective designers
			as listed below.
		</p>
		<p>
			<span class='box1'>
				<span aria-hidden='true' class='icon-mast-ship'></span>
				&nbsp; Caroline Lancaster, from The Noun Project
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-railways'></span>
				&nbsp; Luis Martins
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-pipe'></span>
				&nbsp; Okan Benn, from The Noun Project
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-really-old-telephone'></span>
				&nbsp; The Noun Project
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-old-key-one'></span>
				&nbsp; The Noun Project
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-moustache'></span>
				&nbsp; WC Fonts
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-retro-mic'></span>
				&nbsp; The Noun Project
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-maple-leaf'></span>
				&nbsp; Public Domain
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-hotair-balloon'></span>
				&nbsp; Miguel Caldeira, from The Noun Project
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-horse-rider'></span>
				&nbsp; Marc Serre, from The Noun Project
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-horn'></span>
				&nbsp; The Noun Project
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-gun'></span>
				&nbsp; Simon Child, from The Noun Project
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-globe'></span>
				&nbsp; Marco Davanzo, from The Noun Project
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-glasses-one'></span>
				&nbsp; Kyle Scott, from The Noun Project
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-mountain-climbing'></span>
				&nbsp; Public Domain
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-cannon'></span>
				&nbsp; Public Domain
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-bicycle'></span>
				&nbsp; Public Domain
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-mug-of-beer'></span>
				&nbsp; Julia Soderberg, from The Noun Project
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-anchor-one'></span>
				&nbsp; WC Fonts
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-retro-plane'></span>
				&nbsp; from The Noun Project
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-tripletandem'></span>
				&nbsp; James Evans, from The Noun Project
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-theatre'></span>
				&nbsp; Karl Turner, from The Noun Project
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-telephone-old'></span>
				&nbsp; Proletkult Graphik, from The Noun Project
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-schooner'></span>
				&nbsp; Public Domain from The Noun Project
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-hiking-shoe'></span>
				&nbsp; WC Fonts
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-tophat'></span>
				&nbsp; from The Noun Project
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-riding-hat'></span>
				&nbsp; WC Fonts
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-address'></span>
				&nbsp; WC Fonts
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-old-chair'></span>
				&nbsp; WC Fonts
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-old-keys-two'></span>
				&nbsp; The Noun Project
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-tux'></span>
				&nbsp; Kenneth Von Alt, from The Noun Project
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-lit-match'></span>
				&nbsp; Edward Boatman, from The Noun Project
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-modern-keys'></span>
				&nbsp; William J. Salvador, from The Noun Project
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-bus-frontview'></span>
				&nbsp; Reinaldo Weber, from The Noun Project
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-whaletale'></span>
				&nbsp; Public Domain
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-anchor-two'></span>
				&nbsp; Public Domain
			</span>
			<span class='box1'>
				<span aria-hidden='true' class='icon-support'></span>
				&nbsp; WC Fonts
			</span>
		</p>
		<p>All rights reserved on all fonts used on this site including but not limited to:</p><ul>
			<li><a href='/'>Gregasaurus</a> by Greg Benner</li>
			<li><a href='http://keyamoon.com/icomoon/'>IcoMoon</a> by Keyamoon)</li>
			<li><a href='http://somerandomdude.com/work/iconic/'>Iconic</a> by P.J. Onori</li>
			<li><a href='http://www.entypo.com/'>Entypo</a> by Daniel Bruce</li>
			<li>
				<a href='http://www.fontsquirrel.com/fonts/WC-Sold-Out-Bta'>WC-Sold-Out-Bta</a> by WC Fonts
			</li>
			<li><a href='www.rileycran.html'>MUNCIE</a> by RILEY CRAN</li>
			<li>
				<a href='https://plus.google.com/117431922163742703251/about'>Goudy Bookletter 1911</a> by Barry
				Schwartz
			</li>
		</ul>
		<p></p>
	</div>
</BaseLayout>
<style>
	/*! CSS Used from: https://gregbenner-classic-2009.netlify.app/stylesheets/mini.min.css */
	/*! @import https://gregbenner-classic-2009.netlify.app/stylesheets/base.css */
	div,
	span,
	h2,
	p,
	a,
	ul,
	li {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		text-shadow: 1px 1px 5px #fff;
	}
	ul {
		list-style: none;
	}
	h2 {
		font-weight: normal;
	}
	h2 {
		font-size: 35px;
		line-height: 40px;
		margin-bottom: 10px;
	}
	p {
		margin: 0 0 20px 0;
	}
	a,
	a:visited {
		color: #444;
		text-decoration: none;
		outline: 0;
	}
	a:hover,
	a:focus {
		color: #555;
	}
	p a,
	p a:visited {
		line-height: inherit;
	}
	ul {
		margin-bottom: 20px;
	}
	ul {
		list-style: none outside;
	}
	li {
		line-height: 1.5em;
	}
	/*! end @import */
	/*! @import https://gregbenner-classic-2009.netlify.app/stylesheets/skeleton.css */
	.container .columns {
		float: left;
		display: inline;
		margin-left: 10px;
		margin-right: 10px;
	}
	.row {
		margin-bottom: 20px;
	}
	.omega {
		margin-right: 0 !important;
	}
	.container .sixteen.columns {
		width: 940px;
	}
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.container .columns {
			margin-left: 10px;
			margin-right: 10px;
		}
		.columns.omega {
			margin-right: 0;
			margin-left: 10px;
		}
		.container .sixteen.columns {
			width: 748px;
		}
	}
	@media only screen and (max-width: 767px) {
		.container .columns {
			margin: 0;
		}
		.container .sixteen.columns {
			width: 300px;
		}
	}
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.container .columns {
			margin: 0;
		}
		.container .sixteen.columns {
			width: 420px;
		}
	}
	.row:before,
	.row:after {
		content: '\0020';
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0;
	}
	.row:after {
		clear: both;
	}
	.row {
		zoom: 1;
	}
	/*! end @import */
	/*! @import https://gregbenner-classic-2009.netlify.app/stylesheets/gregasaurus.css */
	[class^='icon-']:before {
		font-family: 'gregasaurus';
		font-style: normal;
		speak: none;
	}
	.icon-mast-ship:before {
		content: '\0023';
	}
	.icon-railways:before {
		content: '\0024';
	}
	.icon-pipe:before {
		content: '\0025';
	}
	.icon-really-old-telephone:before {
		content: '\0026';
	}
	.icon-old-key-one:before {
		content: '\0027';
	}
	.icon-moustache:before {
		content: '\0028';
	}
	.icon-retro-mic:before {
		content: '\0029';
	}
	.icon-maple-leaf:before {
		content: '\002a';
	}
	.icon-hotair-balloon:before {
		content: '\002b';
	}
	.icon-horse-rider:before {
		content: '\002c';
	}
	.icon-horn:before {
		content: '\002d';
	}
	.icon-gun:before {
		content: '\002e';
	}
	.icon-globe:before {
		content: '\002f';
	}
	.icon-glasses-one:before {
		content: '\0030';
	}
	.icon-mountain-climbing:before {
		content: '\0031';
	}
	.icon-cannon:before {
		content: '\0032';
	}
	.icon-bicycle:before {
		content: '\0033';
	}
	.icon-mug-of-beer:before {
		content: '\0034';
	}
	.icon-anchor-one:before {
		content: '\0036';
	}
	.icon-retro-plane:before {
		content: '\0037';
	}
	.icon-tripletandem:before {
		content: '\0038';
	}
	.icon-theatre:before {
		content: '\0039';
	}
	.icon-telephone-old:before {
		content: '\003a';
	}
	.icon-schooner:before {
		content: '\003b';
	}
	.icon-hiking-shoe:before {
		content: '\003c';
	}
	.icon-tophat:before {
		content: '\003d';
	}
	.icon-riding-hat:before {
		content: '\003e';
	}
	.icon-arrow-up:before {
		content: '\0043';
	}
	.icon-address:before {
		content: '\0058';
	}
	.icon-old-chair:before {
		content: '\0059';
	}
	.icon-old-keys-two:before {
		content: '\005a';
	}
	.icon-tux:before {
		content: '\005b';
	}
	.icon-lit-match:before {
		content: '\005c';
	}
	.icon-modern-keys:before {
		content: '\005d';
	}
	.icon-bus-frontview:before {
		content: '\005e';
	}
	.icon-whaletale:before {
		content: '\0021';
	}
	.icon-anchor-two:before {
		content: '\0035';
	}
	.icon-support:before {
		content: '\003f';
	}
	/*! end @import */
	/*! @import https://gregbenner-classic-2009.netlify.app/stylesheets/typography.css */
	p {
		letter-spacing: 1px;
		text-align: justify;
	}
	h2 {
		font-family: 'MuncieRegular';
		color: #847e70;
	}
	h2 {
		font-size: 45px;
		margin-bottom: 25px;
		margin-top: 20px;
	}
	/*! end @import */
	/*! @import https://gregbenner-classic-2009.netlify.app/stylesheets/style.css */
	* {
		position: relative;
	}
	.columns {
		margin-bottom: 20px;
	}
	.container .insidecolumn {
		border: solid 1px #ccc;
		-webkit-border-radius: 10px 2px 10px 2px;
		border-radius: 10px 2px 10px 2px;
		background: rgba(255, 255, 255, 0.2);
		padding: 10px 15px;
		-webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
		box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
	}
	.tothetop {
		z-index: 2;
		right: 10px;
		top: 5px;
		position: absolute;
		color: #847e70;
		opacity: 0.1;
	}
	.tothetop:hover {
		color: #847e70;
		opacity: 0.9;
	}
	.box1 {
		display: block;
	}
	/*! end @import */
	/*! @import https://gregbenner-classic-2009.netlify.app/stylesheets/layout.css */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.container .columns {
			margin-bottom: 15px;
		}
	}
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.container .columns {
			margin-bottom: 15px;
		}
		p {
			font-size: 16px;
			line-height: 26px;
		}
	}
	@media only screen and (max-width: 479px) {
		.container .columns {
			margin-bottom: 10px;
		}
		p {
			font-size: 14px;
			line-height: 23px;
		}
		.container .insidecolumn {
			padding-top: 10px;
		}
	}
	/*! end @import */
	/*! CSS Used from: https://gregbenner-classic-2009.netlify.app/stylesheets/mini.min.crush.css */
	div,
	span,
	h2,
	p,
	a,
	ul,
	li {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		text-shadow: 1px 1px 5px #fff;
	}
	ul {
		list-style: none;
	}
	h2 {
		font-weight: normal;
	}
	h2 {
		font-size: 35px;
		line-height: 40px;
		margin-bottom: 10px;
	}
	p {
		margin: 0 0 20px 0;
	}
	a,
	a:visited {
		color: #444;
		text-decoration: none;
		outline: 0;
	}
	a:hover,
	a:focus {
		color: #555;
	}
	p a,
	p a:visited {
		line-height: inherit;
	}
	ul {
		margin-bottom: 20px;
	}
	ul {
		list-style: none outside;
	}
	li {
		line-height: 1.5em;
	}
	.container .columns {
		float: left;
		display: inline;
		margin-left: 10px;
		margin-right: 10px;
	}
	.row {
		margin-bottom: 20px;
	}
	.omega {
		margin-right: 0 !important;
	}
	.container .sixteen.columns {
		width: 940px;
	}
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.container .columns {
			margin-left: 10px;
			margin-right: 10px;
		}
		.columns.omega {
			margin-right: 0;
			margin-left: 10px;
		}
		.container .sixteen.columns {
			width: 748px;
		}
	}
	@media only screen and (max-width: 767px) {
		.container .columns {
			margin: 0;
		}
		.container .sixteen.columns {
			width: 300px;
		}
	}
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.container .columns {
			margin: 0;
		}
		.container .sixteen.columns {
			width: 420px;
		}
	}
	.row:before,
	.row:after {
		content: '\0020';
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0;
	}
	.row:after {
		clear: both;
	}
	.row {
		zoom: 1;
	}
	[class^='icon-']:before {
		font-family: 'gregasaurus';
		font-style: normal;
		speak: none;
	}
	.icon-mast-ship:before {
		content: '\0023';
	}
	.icon-railways:before {
		content: '\0024';
	}
	.icon-pipe:before {
		content: '\0025';
	}
	.icon-really-old-telephone:before {
		content: '\0026';
	}
	.icon-old-key-one:before {
		content: '\0027';
	}
	.icon-moustache:before {
		content: '\0028';
	}
	.icon-retro-mic:before {
		content: '\0029';
	}
	.icon-maple-leaf:before {
		content: '\002a';
	}
	.icon-hotair-balloon:before {
		content: '\002b';
	}
	.icon-horse-rider:before {
		content: '\002c';
	}
	.icon-horn:before {
		content: '\002d';
	}
	.icon-gun:before {
		content: '\002e';
	}
	.icon-globe:before {
		content: '\002f';
	}
	.icon-glasses-one:before {
		content: '\0030';
	}
	.icon-mountain-climbing:before {
		content: '\0031';
	}
	.icon-cannon:before {
		content: '\0032';
	}
	.icon-bicycle:before {
		content: '\0033';
	}
	.icon-mug-of-beer:before {
		content: '\0034';
	}
	.icon-anchor-one:before {
		content: '\0036';
	}
	.icon-retro-plane:before {
		content: '\0037';
	}
	.icon-tripletandem:before {
		content: '\0038';
	}
	.icon-theatre:before {
		content: '\0039';
	}
	.icon-telephone-old:before {
		content: '\003a';
	}
	.icon-schooner:before {
		content: '\003b';
	}
	.icon-hiking-shoe:before {
		content: '\003c';
	}
	.icon-tophat:before {
		content: '\003d';
	}
	.icon-riding-hat:before {
		content: '\003e';
	}
	.icon-arrow-up:before {
		content: '\0043';
	}
	.icon-address:before {
		content: '\0058';
	}
	.icon-old-chair:before {
		content: '\0059';
	}
	.icon-old-keys-two:before {
		content: '\005a';
	}
	.icon-tux:before {
		content: '\005b';
	}
	.icon-lit-match:before {
		content: '\005c';
	}
	.icon-modern-keys:before {
		content: '\005d';
	}
	.icon-bus-frontview:before {
		content: '\005e';
	}
	.icon-whaletale:before {
		content: '\0021';
	}
	.icon-anchor-two:before {
		content: '\0035';
	}
	.icon-support:before {
		content: '\003f';
	}
	p {
		letter-spacing: 1px;
		text-align: justify;
	}
	h2 {
		font-family: 'MuncieRegular';
		color: #847e70;
	}
	h2 {
		font-size: 45px;
		margin-bottom: 25px;
		margin-top: 20px;
	}
	* {
		position: relative;
	}
	.columns {
		margin-bottom: 20px;
	}
	.container .insidecolumn {
		border: solid 1px #ccc;
		-webkit-border-radius: 10px 2px 10px 2px;
		-moz-border-radius: 10px 2px 10px 2px;
		border-radius: 10px 2px 10px 2px;
		background: rgb(255, 255, 255);
		background: rgba(255, 255, 255, 0.2);
		padding: 10px 15px;
		-webkit-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
		-moz-box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
		box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	}
	.tothetop {
		z-index: 2;
		right: 10px;
		top: 5px;
		position: absolute;
		color: #847e70;
		opacity: 0.1;
		zoom: 1;
		-ms-filter: 'alpha(opacity=10)';
		*filter: alpha(opacity=10);
	}
	.tothetop:hover {
		color: #847e70;
		opacity: 0.9;
		zoom: 1;
		-ms-filter: 'alpha(opacity=90)';
		*filter: alpha(opacity=90);
	}
	.box1 {
		display: block;
	}
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.container .columns {
			margin-bottom: 15px;
		}
	}
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.container .columns {
			margin-bottom: 15px;
		}
		p {
			font-size: 16px;
			line-height: 26px;
		}
	}
	@media only screen and (max-width: 479px) {
		.container .columns {
			margin-bottom: 10px;
		}
		p {
			font-size: 14px;
			line-height: 23px;
		}
		.container .insidecolumn {
			padding-top: 10px;
		}
	}
	/*! CSS Used fontfaces */
	/* @font-face {
		font-family: 'gregasaurus';
		src: url('https://gregbenner-classic-2009.netlify.app/fonts/gregasaurus.eot');
		src:
			url('https://gregbenner-classic-2009.netlify.app/fonts/gregasaurus.eot#iefix')
				format('embedded-opentype'),
			url('https://gregbenner-classic-2009.netlify.app/fonts/gregasaurus.svg') format('svg'),
			url('https://gregbenner-classic-2009.netlify.app/fonts/gregasaurus.woff') format('woff'),
			url('https://gregbenner-classic-2009.netlify.app/fonts/gregasaurus.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	} */
	/* @font-face {
		font-family: 'gregasaurus';
		src: url('https://gregbenner-classic-2009.netlify.app/fonts/gregasaurus.eot');
		src:
			url('https://gregbenner-classic-2009.netlify.app/fonts/gregasaurus.eot#iefix')
				format('embedded-opentype'),
			url('https://gregbenner-classic-2009.netlify.app/fonts/gregasaurus.svg') format('svg'),
			url('https://gregbenner-classic-2009.netlify.app/fonts/gregasaurus.woff') format('woff'),
			url('https://gregbenner-classic-2009.netlify.app/fonts/gregasaurus.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'MuncieRegular';
		src: url('https://gregbenner-classic-2009.netlify.app/fonts/muncie-webfont.eot');
		src:
			url('https://gregbenner-classic-2009.netlify.app/fonts/muncie-webfont.eot#iefix')
				format('embedded-opentype'),
			url('https://gregbenner-classic-2009.netlify.app/fonts/muncie-webfont.woff') format('woff'),
			url('https://gregbenner-classic-2009.netlify.app/fonts/muncie-webfont.ttf') format('truetype'),
			url('https://gregbenner-classic-2009.netlify.app/fonts/muncie-webfont.svg') format('svg');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'MuncieRegular';
		src: url('https://gregbenner-classic-2009.netlify.app/fonts/muncie-webfont.eot');
		src:
			url('https://gregbenner-classic-2009.netlify.app/fonts/muncie-webfont.eot#iefix')
				format('embedded-opentype'),
			url('https://gregbenner-classic-2009.netlify.app/fonts/muncie-webfont.woff') format('woff'),
			url('https://gregbenner-classic-2009.netlify.app/fonts/muncie-webfont.ttf') format('truetype'),
			url('https://gregbenner-classic-2009.netlify.app/fonts/muncie-webfont.svg') format('svg');
		font-weight: normal;
		font-style: normal;
	} */
</style>
