---
import ListCategories from '@/components/ListCategories'
import ListPosts from '@/components/ListPosts'
import BaseLayout from '@/layouts/BaseLayout'
import { Picture } from 'astro:assets'
import { getCollection } from 'astro:content'
import authorImg from '../assets/images/greg.jpeg'

const MAX_POSTS = 1005 // max number of posts to show on the home page
const allPosts = await getCollection('blog')
const posts = allPosts.slice(0, MAX_POSTS)
const sorted = posts.sort(
	(post1, post2) => new Date(post2.data.pubDate) - new Date(post1.data.pubDate)
)
---

<BaseLayout title='Home'>
	<ListCategories />
	<div class='p-author h-card' style='display: none;'>
		<a rel='author' class='p-name u-url' href=`https://jswhisperer.uk/author/greg`>Gregory Benner</a
		>

		<Picture formats={['avif', 'webp']} class='u-photo' src={authorImg} alt='Gregory Benner' />
		<a class='p-org h-card' href='https://jswhisperer.uk/'>jswhisperer</a>
	</div>

	<div class='h-feed'>
		<h2 class=''>Latest Posts</h2>
		<ListPosts FirstBig={false} posts={sorted} />
	</div>
</BaseLayout>
