---
import BaseLayout from "@/layouts/BaseLayout";
---

<BaseLayout title="Philosophy">
  <div class="insidecolumn">
    <div class="top tothetop small-mobile-hide">
      <span aria-hidden="true" class="icon-arrow-up"></span>
    </div>
    <h2>
      Philosophy
      <span aria-hidden="true" class="icon-old-chair"></span>
    </h2>
    <p>
      I believe in creating work that reflects my skills but more importantly
      reflects the persona of my clients, hand tailoring each site to the brands
      needs. I utilize only the newest and most effective design and development
      strategies to provide only top quality sites. By implementing rigorous
      tests to ensure the site is usable for the client and visually attractive
      to the viewer, I believe in creating only the best user experience.
    </p>
  </div>
</BaseLayout>
