---

---

<div id='header'>
	<span class='shadow-down'></span>
	<div id='content'>
		<div class='container'>
			<div id='logo'>
				<h1 class='title'>
					<a href='/'>
						<!-- G<span class="small-mobile-hide">REG</span> -->
						JavaScript
						<span aria-hidden='true' class='icon-anchor-one small-mobile-hide' id='logoanchor'
						></span><span class='small-mobile-only gregasaurus'>6</span>
						Whisperer
						<!-- B<span class="small-mobile-hide">ENNER</span> -->
					</a>
				</h1>
			</div>
			<div class='container navholder'>
				<nav class='ribbon'>
					<div class='inside'>
						<ul class='navigation'>
							<li>
								<a href='/about'
									><span aria-hidden='true' class='icon-tux'></span>
									About</a
								>
							</li>
							<!-- <li>
								<a href='/work'
									><span aria-hidden='true' class='icon-cannon'></span>
									Work</a
								>
							</li> -->
							<!-- <li>
								<a href='#skills'
									><span aria-hidden='true' class='icon-glasses-one'></span>
									Skills</a
								>
							</li> -->
							<li>
								<a href='/philosophy'
									><span aria-hidden='true' class='icon-old-chair'></span>
									Philosophy</a
								>
							</li>
							<li>
								<a href='/blog' title='Blog'
									><span aria-hidden='true' class='icon-pipe'></span>
									Blog</a
								>
							</li>
							<li>
								<a href='/contact'
									><span aria-hidden='true' class='icon-really-old-telephone'></span>
									Contact</a
								>
							</li>
						</ul>
					</div>
				</nav>
				<span id='undernav' class='small-mobile-hide'></span>
			</div>
		</div>
	</div>
	<span class='shadow-up'></span>
</div>
<span class='main-content-shadow'></span>

<style media='none' onload="if(media!='all') media='all'" loading='lazy'>
	span {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		text-shadow: 1px 1px 5px #fff;
	}
	* {
		position: relative;
	}
	.main-content-shadow {
		display: block;
		width: 100%;
		height: 29px;
		border-top: 1px solid #f8f7f5;
		background: -moz-linear-gradient(top, rgba(165, 157, 139, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
		background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0%, rgba(165, 157, 139, 0.3)),
			color-stop(100%, rgba(255, 255, 255, 0))
		);
		background: -webkit-linear-gradient(
			top,
			rgba(165, 157, 139, 0.3) 0%,
			rgba(255, 255, 255, 0) 100%
		);
		background: -o-linear-gradient(top, rgba(165, 157, 139, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
		background: -ms-linear-gradient(top, rgba(165, 157, 139, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
		background: -webkit-linear-gradient(
			top,
			rgba(165, 157, 139, 0.3) 0%,
			rgba(255, 255, 255, 0) 100%
		);
		background: -moz-linear-gradient(top, rgba(165, 157, 139, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
		background: -ms-linear-gradient(top, rgba(165, 157, 139, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
		background: -o-linear-gradient(top, rgba(165, 157, 139, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
		background: linear-gradient(top, rgba(165, 157, 139, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
	}
	/* html{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAEklEQVQIW2NMS0uTZGQAAjABABDKAU/fJN7FAAAAAElFTkSuQmCC) repeat} */
	body {
		margin: 0;
		height: 100vh;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAYFBMVEXu6uDz7+Xx7ePw7OLe2tDd2c/j39Xg3NLh3dPp5dvf29Ht6d/k4Nbr593i3tTl4dfv6+Hs6N7q5tzn49no5Nrm4tgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACa5zt2AAAACXZwQWcAAAAKAAAACgBOpnblAAAAVElEQVQI1wXBhwHDMAwDMKZNvWRbk/+/WgB2/bit3ATL9q/PQIGL3xDGSjzvXS18DkFR7+nlqahJGxfHAqKlfUedD2Yah3huxW2MIKUS2UqdlWf/AS09BaFU/I3kAAAAAElFTkSuQmCC);
	}
	a,
	div,
	h1,
	li,
	nav,
	span,
	ul {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		text-shadow: 1px 1px 5px #fff;
	}
	nav {
		display: block;
	}
	ul {
		list-style: none;
	}
	h1 {
		font-weight: 400;
	}
	h1 {
		font-size: 46px;
		line-height: 50px;
		margin-bottom: 14px;
	}
	a,
	a:visited {
		color: #444;
		text-decoration: none;
		outline: 0;
	}
	a:focus,
	a:hover {
		color: #555;
	}
	ul {
		margin-bottom: 20px;
	}
	ul {
		list-style: none outside;
	}
	li {
		line-height: 1.5em;
	}
	.container {
		position: relative;
		width: 960px;
		margin: 0 auto;
		padding: 0;
		padding-top: 50px;
	}
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.container {
			width: 768px;
		}
	}
	@media only screen and (max-width: 767px) {
		.container {
			width: 300px;
		}
	}
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.container {
			width: 420px;
		}
	}
	.container:after {
		content: '\0020';
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	[class^='icon-']:before {
		font-family: gregasaurus;
		font-style: normal;
		speak: none;
		font-display: swap;
	}
	.icon-pipe:before {
		content: '\0025';
	}
	.icon-really-old-telephone:before {
		content: '\0026';
	}
	.icon-glasses-one:before {
		content: '\0030';
	}
	.icon-cannon:before {
		content: '\0032';
	}
	.icon-anchor-one:before {
		content: '\0036';
	}
	.icon-old-chair:before {
		content: '\0059';
	}
	.icon-tux:before {
		content: '\005b';
	}
	h1 {
		font-family: MuncieRegular;
		color: #847e70;
	}
	* {
		position: relative;
	}
	h1.title {
		font-size: 80px;
		margin: 0;
		text-shadow: 1px 1px 5px #fff;
		border-top: 1px solid rgba(0, 0, 0, 0.15);
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);
		-webkit-box-shadow:
			0 1px 0 0 #fff,
			inset 0 1px 0 0 #fff;
		-moz-box-shadow:
			0 1px 0 0 #fff,
			inset 0 1px 0 0 #fff;
		box-shadow:
			0 1px 0 0 #fff,
			inset 0 1px 0 0 #fff;
		padding: 20px 0 0 0;
	}
	#header {
		width: 100%;
		height: 150px;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAABCAYAAAAb4BS0AAAAFElEQVQIW2NMS0uTnDVr1nMGIAAAH0YEAuMS8XwAAAAASUVORK5CYII=),
			url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAAYFBMVEXu6uDz7+Xx7ePw7OLe2tDd2c/j39Xg3NLh3dPp5dvf29Ht6d/k4Nbr593i3tTl4dfv6+Hs6N7q5tzn49no5Nrm4tgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACa5zt2AAAACXZwQWcAAAAKAAAACgBOpnblAAAAVElEQVQI1wXBhwHDMAwDMKZNvWRbk/+/WgB2/bit3ATL9q/PQIGL3xDGSjzvXS18DkFR7+nlqahJGxfHAqKlfUedD2Yah3huxW2MIKUS2UqdlWf/AS09BaFU/I3kAAAAAElFTkSuQmCC);
		border-bottom: 2px solid #bcb9b1;
		z-index: 2;
	}
	#content {
		padding-top: 15px;
	}
	#logo {
		text-align: center;
		margin: -45px auto 45px;
	}
	.shadow-down,
	.shadow-up {
		display: block;
		width: 100%;
		height: 17px;
		bottom: 0;
		position: absolute;
		background: -moz-linear-gradient(
			top,
			rgba(255, 255, 255, 0) 0,
			rgba(252, 252, 252, 0) 4%,
			rgba(191, 191, 191, 0.3) 100%
		);
		background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0, rgba(255, 255, 255, 0)),
			color-stop(4%, rgba(252, 252, 252, 0)),
			color-stop(100%, rgba(191, 191, 191, 0.3))
		);
		background: -webkit-linear-gradient(
			top,
			rgba(255, 255, 255, 0) 0,
			rgba(252, 252, 252, 0) 4%,
			rgba(191, 191, 191, 0.3) 100%
		);
		background: -o-linear-gradient(
			top,
			rgba(255, 255, 255, 0) 0,
			rgba(252, 252, 252, 0) 4%,
			rgba(191, 191, 191, 0.3) 100%
		);
		background: -ms-linear-gradient(
			top,
			rgba(255, 255, 255, 0) 0,
			rgba(252, 252, 252, 0) 4%,
			rgba(191, 191, 191, 0.3) 100%
		);
		background: -webkit-linear-gradient(
			top,
			rgba(255, 255, 255, 0) 0,
			rgba(252, 252, 252, 0) 4%,
			rgba(191, 191, 191, 0.3) 100%
		);
		background: -moz-linear-gradient(
			top,
			rgba(255, 255, 255, 0) 0,
			rgba(252, 252, 252, 0) 4%,
			rgba(191, 191, 191, 0.3) 100%
		);
		background: -ms-linear-gradient(
			top,
			rgba(255, 255, 255, 0) 0,
			rgba(252, 252, 252, 0) 4%,
			rgba(191, 191, 191, 0.3) 100%
		);
		background: -o-linear-gradient(
			top,
			rgba(255, 255, 255, 0) 0,
			rgba(252, 252, 252, 0) 4%,
			rgba(191, 191, 191, 0.3) 100%
		);
		background: linear-gradient(
			top,
			rgba(255, 255, 255, 0) 0,
			rgba(252, 252, 252, 0) 4%,
			rgba(191, 191, 191, 0.3) 100%
		);
	}
	.shadow-down {
		top: 0;
		position: absolute;
		background: -moz-linear-gradient(
			top,
			rgba(191, 191, 191, 0.3) 0,
			rgba(252, 252, 252, 0) 96%,
			rgba(255, 255, 255, 0) 100%
		);
		background: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0, rgba(191, 191, 191, 0.3)),
			color-stop(96%, rgba(252, 252, 252, 0)),
			color-stop(100%, rgba(255, 255, 255, 0))
		);
		background: -webkit-linear-gradient(
			top,
			rgba(191, 191, 191, 0.3) 0,
			rgba(252, 252, 252, 0) 96%,
			rgba(255, 255, 255, 0) 100%
		);
		background: -o-linear-gradient(
			top,
			rgba(191, 191, 191, 0.3) 0,
			rgba(252, 252, 252, 0) 96%,
			rgba(255, 255, 255, 0) 100%
		);
		background: -ms-linear-gradient(
			top,
			rgba(191, 191, 191, 0.3) 0,
			rgba(252, 252, 252, 0) 96%,
			rgba(255, 255, 255, 0) 100%
		);
		background: -webkit-linear-gradient(
			top,
			rgba(191, 191, 191, 0.3) 0,
			rgba(252, 252, 252, 0) 96%,
			rgba(255, 255, 255, 0) 100%
		);
		background: -moz-linear-gradient(
			top,
			rgba(191, 191, 191, 0.3) 0,
			rgba(252, 252, 252, 0) 96%,
			rgba(255, 255, 255, 0) 100%
		);
		background: -ms-linear-gradient(
			top,
			rgba(191, 191, 191, 0.3) 0,
			rgba(252, 252, 252, 0) 96%,
			rgba(255, 255, 255, 0) 100%
		);
		background: -o-linear-gradient(
			top,
			rgba(191, 191, 191, 0.3) 0,
			rgba(252, 252, 252, 0) 96%,
			rgba(255, 255, 255, 0) 100%
		);
		background: linear-gradient(
			top,
			rgba(191, 191, 191, 0.3) 0,
			rgba(252, 252, 252, 0) 96%,
			rgba(255, 255, 255, 0) 100%
		);
	}
	ul.navigation {
		list-style: none;
		display: inline-block;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVQYV2NkIAK0trZKMoKI6urq57jUw+QZQQpwKUYWByvEphhdM1whsmJsNqAoxOcM0k1Etw6rG4nyNbHhCABf9EWzVvftTgAAAABJRU5ErkJggg==),
			#d5ccb7;
	}
	.navigation li {
		float: left;
		margin-left: 20px;
	}
	.navigation a {
		font-family: MuncieRegular;
		font-size: 25px;
		color: #847e70;
		text-decoration: none;
		text-shadow: 1px 1px 5px #fff;
	}
	.navigation a:hover {
		color: #776d54;
	}
	.navholder {
		z-index: 3;
		padding: 0;
		margin-top: -25px;
	}
	nav.ribbon {
		position: relative;
		display: block;
		font-family: sans-serif;
		font-size: 1.1em;
		margin: auto;
		padding: 2px 0;
		text-align: center;
		-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
		-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
		box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
		background-color: #d5ccb7;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVQYV2NkIAK0trZKMoKI6urq57jUw+QZQQpwKUYWByvEphhdM1whsmJsNqAoxOcM0k1Etw6rG4nyNbHhCABf9EWzVvftTgAAAABJRU5ErkJggg==),
			#d5ccb7;
	}
	nav.ribbon:after,
	nav.ribbon:before {
		content: '';
		position: absolute;
		display: block;
		bottom: -1em;
		border: 1.5em solid #bfb397;
		z-index: -1;
	}
	nav.ribbon:before {
		left: -2em;
		border-right-width: 19px;
		border-left-color: transparent;
		-webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
		-moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
		box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
	}
	nav.ribbon:after {
		right: -2em;
		border-left-width: 19px;
		border-right-color: transparent;
		-webkit-box-shadow: rgba(0, 0, 0, 0.4) -1px 1px 1px;
		-moz-box-shadow: rgba(0, 0, 0, 0.4) -1px 1px 1px;
		box-shadow: rgba(0, 0, 0, 0.4) -1px 1px 1px;
	}
	nav.ribbon > .inside {
		display: inherit;
		min-width: 100px;
		height: 20px;
		margin: 0;
		padding: 15px 30px;
		text-shadow: #d65c5c 0 1px 0;
		border-top: 1px dashed rgba(0, 0, 0, 0.2);
		border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
		-webkit-box-shadow:
			inset 0 1px 1px rgba(255, 255, 255, 0.15),
			inset 0 -1px 1px rgba(255, 255, 255, 0.15),
			0 1px 1px rgba(255, 255, 255, 0.1),
			0 -1px 1px rgba(255, 255, 255, 0.15);
		-moz-box-shadow:
			inset 0 1px 1px rgba(255, 255, 255, 0.15),
			inset 0 -1px 1px rgba(255, 255, 255, 0.15),
			0 1px 1px rgba(255, 255, 255, 0.1),
			0 -1px 1px rgba(255, 255, 255, 0.15);
		box-shadow:
			inset 0 1px 1px rgba(255, 255, 255, 0.15),
			inset 0 -1px 1px rgba(255, 255, 255, 0.15),
			0 1px 1px rgba(255, 255, 255, 0.1),
			0 -1px 1px rgba(255, 255, 255, 0.15);
	}
	nav.ribbon > .inside:after,
	nav.ribbon > .inside:before {
		content: '';
		border-color: #988c7b transparent transparent transparent;
		position: absolute;
		border-style: solid;
		bottom: -1em;
	}
	nav.ribbon > .inside:before {
		left: 0;
		border-width: 16px 0 0 10px;
	}
	nav.ribbon > .inside:after {
		right: 0;
		border-width: 16px 10px 0 0;
	}
	.navigation {
		margin: 0;
		padding: 0;
	}
	.navigation li {
		float: left;
		line-height: 14px;
	}
	#undernav {
		display: block;
		height: 40px;
		margin: 0 10px;
		background: -moz-linear-gradient(
			left,
			rgba(0, 0, 0, 0.1) 0,
			rgba(0, 0, 0, 0) 2%,
			rgba(0, 0, 0, 0) 97%,
			rgba(0, 0, 0, 0.1) 100%
		);
		background: -webkit-gradient(
			linear,
			left top,
			right top,
			color-stop(0, rgba(0, 0, 0, 0.1)),
			color-stop(2%, rgba(0, 0, 0, 0)),
			color-stop(97%, rgba(0, 0, 0, 0)),
			color-stop(100%, rgba(0, 0, 0, 0.1))
		);
		background:
			-webkit-linear-gradient(
				left,
				rgba(0, 0, 0, 0.1) 0,
				rgba(0, 0, 0, 0) 2%,
				rgba(0, 0, 0, 0) 97%,
				rgba(0, 0, 0, 0.1) 100%
			),
			-webkit-linear-gradient(
					top,
					rgba(0, 0, 0, 0.1) 0,
					rgba(0, 0, 0, 0) 34%,
					rgba(0, 0, 0, 0) 100%
				);
		background: -o-linear-gradient(
			left,
			rgba(0, 0, 0, 0.1) 0,
			rgba(0, 0, 0, 0) 2%,
			rgba(0, 0, 0, 0) 97%,
			rgba(0, 0, 0, 0.1) 100%
		);
		background: -ms-linear-gradient(
			left,
			rgba(0, 0, 0, 0.1) 0,
			rgba(0, 0, 0, 0) 2%,
			rgba(0, 0, 0, 0) 97%,
			rgba(0, 0, 0, 0.1) 100%
		);
		background: -webkit-linear-gradient(
			left,
			rgba(0, 0, 0, 0.1) 0,
			rgba(0, 0, 0, 0) 2%,
			rgba(0, 0, 0, 0) 97%,
			rgba(0, 0, 0, 0.1) 100%
		);
		background: -moz-linear-gradient(
			left,
			rgba(0, 0, 0, 0.1) 0,
			rgba(0, 0, 0, 0) 2%,
			rgba(0, 0, 0, 0) 97%,
			rgba(0, 0, 0, 0.1) 100%
		);
		background: -ms-linear-gradient(
			left,
			rgba(0, 0, 0, 0.1) 0,
			rgba(0, 0, 0, 0) 2%,
			rgba(0, 0, 0, 0) 97%,
			rgba(0, 0, 0, 0.1) 100%
		);
		background: -o-linear-gradient(
			left,
			rgba(0, 0, 0, 0.1) 0,
			rgba(0, 0, 0, 0) 2%,
			rgba(0, 0, 0, 0) 97%,
			rgba(0, 0, 0, 0.1) 100%
		);
		background: linear-gradient(
			left,
			rgba(0, 0, 0, 0.1) 0,
			rgba(0, 0, 0, 0) 2%,
			rgba(0, 0, 0, 0) 97%,
			rgba(0, 0, 0, 0.1) 100%
		);
	}
	#logoanchor {
		font-size: 0.5em;
		top: -10px;
	}
	.small-mobile-only {
		display: none;
	}
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.navigation li a {
			font-size: 22px;
		}
		.navigation li {
			margin-left: 5px;
		}
		nav.ribbon > .inside {
			padding: 15px 0;
		}
	}
	@media only screen and (max-width: 479px) {
		.small-mobile-hide {
			display: none !important;
		}
		.small-mobile-only {
			display: inline;
		}
		h1.title {
			text-align: center;
		}
		.navigation {
			height: auto;
			background: 0 0;
		}
		.navigation li {
			float: none;
		}
		nav.ribbon > .inside {
			display: inherit;
			min-width: 100px;
			height: 185px;
			margin: 0;
			padding: 15px 30px;
		}
		nav.ribbon:after,
		nav.ribbon:before {
			border: none;
		}
		nav.ribbon > .inside {
			margin: 0;
			padding: 0;
			width: 100%;
		}
		ul.navigation {
			margin: 0;
			padding: 0;
			width: 100%;
		}
		.navigation li {
			float: none;
			margin: 0;
			border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
			padding: 5px 0;
			line-height: 18px;
		}
		.navigation li a {
			width: 100%;
			height: 100%;
			display: block;
		}
		.navholder {
			width: 320px;
			margin-left: -10px;
		}
		h1.title {
			padding: 15px 0;
		}
	} /*! CSS Used fontfaces */
	@font-face {
		font-family: gregasaurus;
		src: url(/fonts/gregasaurus.eot);
		src:
			url(/fonts/gregasaurus.eot#iefix) format('embedded-opentype'),
			url(/fonts/gregasaurus.svg) format('svg'),
			url(/fonts/gregasaurus.woff) format('woff'),
			url(/fonts/gregasaurus.ttf) format('truetype');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	.gregasaurus {
		font-family: gregasaurus !important;
	}
	@font-face {
		font-family: MuncieRegular;
		src: url(/fonts/muncie-webfont.eot);
		src:
			url(/fonts/muncie-webfont.eot#iefix) format('embedded-opentype'),
			url(/fonts/muncie-webfont.woff) format('woff'),
			url(/fonts/muncie-webfont.ttf) format('truetype'),
			url(/fonts/muncie-webfont.svg) format('svg');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}
	nav.ribbon > .inside {
		height: 52px;
	}

	span {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		text-shadow: 1px 1px 5px #fff;
	}
	* {
		position: relative;
	}
</style>
