---
import BaseHead from '@/components/BaseHead'
import Footer from '@/components/Footer'
import Header from '@/components/Header'
import NewHeader from '@/components/NewHeader'
import ProviderAnimations from '@/components/ProviderAnimations'
import ProviderTheme from '@/components/ProviderTheme'
import TwSizeIndicator from '@/components/TwSizeIndicator'
import EditBlog from '@/components/editBlog'
import { Head } from 'astro-capo'

const {
	title = 'js whisperer',
	description = 'Specialist in performance oriented javascript architecture for web, mobile, client and server side. Passionate about realtime web.',
	image = 'https://jswhisperer.uk/assets/images/7b6ld2c3bl65co0l6d5t.png',
	articleDate = new Date()
} = Astro.props
const pageUrl = new URL(Astro.url.pathname, Astro.site) || 'https://jswhisperer.uk'

const structuredData = {
	'@context': 'https://schema.org',
	'@type': 'WebSite',
	name: title,
	url: pageUrl
}
---

<html lang='en' class='scroll-smooth'>
	<Head>
		<head>
			<meta name='viewport' content='width=device-width, initial-scale=1' />
			<BaseHead title={title} description={description} ogImage={image} articleDate={articleDate} />
			<ProviderTheme />
			<ProviderAnimations />
		</head>
	</Head>

	<body id='body'>
		<Header />
		<NewHeader />
		<main
			class='px-5 sm:mx-auto sm:max-w-2xl sm:px-8 lg:px-0 antialiased md:max-w-6xl grid gap-12 mt-4 overflow-hidden md:overflow-visible'
		>
			<slot />
		</main>
		<TwSizeIndicator />
		<EditBlog />

		<Footer />
		<style>
			#body,
			html,
			body {
				font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
				font-size: 19px;
				line-height: 31px;
			}
		</style>
	</body>
</html>
